@media (max-width: 996px) {
  .links {
    display: block;
  }
  .links > ul {
    position: absolute;
    background-color: #fff;
    top: 63px;
    right: 10%;
  }
  .links > ul::before {
    content: "";
    border-color: #e94f3a transparent transparent transparent;
    border-style: solid;
    border-width: 15px 13px 15px 15px;
    position: absolute;
    top: -20px;
    left: 121px;
  }
  .links ul li {
    display: block;
    border-bottom: 1px solid #000;
    position: relative;
  }
  .links ul li ul {
    position: absolute;
    left: -120px;
    top: 5px;
    width: 120px;
    overflow: hidden;
  }
  
  .links .fa-bars {
    display: block;
    margin: auto;
    top: 15px;
  }
  .showhide {
    display: none !important;
  }
  .links button {
    position: relative;
    right: 50px;
    top: 10px;
  }
  .contain h2 {
    font-size: 40px;
  }
  .events .event-contain,
  .news .news-contain {
    display: block;
  }
  .events .event-box,
  .news .news-box {
    margin-bottom: 30px;
    display: flex;
  }
  .events .event-box h2 {
    margin-top: 0px;
  }
  .events .event-box img,
  .news .news-box img {
    width: 25%;
    height: 100%;
    margin-right: 30px;
  }
  .events .event-box .data {
    margin-bottom: 10px;
  }
  .values .values-contain {
    display: block;
  }
  .values .values-box {
    margin-bottom: 20px;
  }
  .our-faith .right {
    display: none;
  }
}

@media (max-width: 940px) {
  .contain h2 {
    font-size: 30px;
  }
  .faith .box {
    display: block;
  }
  .faith .box .faith-box {
    margin-bottom: 20px;
  }
  .faith .box .faith-box i {
    float: left;
    width: 50px;
    text-align: center;
    margin-right: 20px;
  }
  .faith .box .faith-box {
    text-align: left;
  }
  .welcome-head .head-contain .date address h3 {
    font-size: 20px;
  }
  .welcome-head .head-contain .date {
    font-size: 15px;
  }
  .pastors .card-box {
    display: block;
  }
  .pastors .card-box .card {
    display: block;
  }
  .donate .card {
    margin-right: 0;
  }
  .donate .donate-box {
    display: block;

    margin: auto;
    padding-bottom: 10px;
  }
  .useful-links {
    display: block;
  }
}

@media (max-width: 700px) {
  .contain h2 {
    font-size: 20px;
  }
  .contain p {
    font-size: 15px;
  }
}
@media (max-width: 570px) {
  .nav-bullets {
    display: none;
  }
  .donate .donate-box {
    width: 90%;
  }
  .welcome-body .body-contain {
    display: block;
  }
  .body-contain .right .right-contain {
    display: block;
    text-align: center;
    padding: 50px 0;
  }
  .body-contain .right .days {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin: auto;
    padding-left: 0px;
  }
  .body-contain .right .hours {
    border-left: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin: auto;
    padding-left: 0px;
  }
  .body-contain .right .minutes {
    border-left: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin: auto;
    padding-left: 0px;
  }
  .body-contain .right .seconds {
    padding: 10px 0;
    padding-left: 0px;
  }
}
@media (max-width: 475px) {
  .logo i {
    font-size: 25px;
    margin: auto;
    padding-right: 0;
  }
  .logo .logo-name {
    font-size: 10px;
  }
  .links button {
    font: 10px;
    top: 0;
    width: 50px;
  }
  .contain h2 {
    font-size: 12px;
    text-align: center;
  }
  .contain p {
    font-size: 10px;
  }
  .contain button {
    width: 100px;
    display: block;
    font-size: 14px;
  }
  .faith h2 {
    font-size: 20px;
  }
  .welcome-head .head-contain {
    display: block;
  }
  .welcome-head .head-contain .date {
    border-bottom: 1px solid #fff;
  }
  .welcome-head .location {
    border-left: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
  }
  .welcome-head .butt {
    text-align: center;
  }
  .testemonials .teste-box p {
    font-size: 20px;
  }
  .pastors .card img {
    width: 150px;
    height: 150px;
  }
  .donate .card .card-price span {
    font-size: 30px;
  }
  .footer .footer-contain {
    display: block;
    font-size: 12px;
  }
}
/* Animation */
