* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.special-h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}
/*Start Nav Bullets*/

.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  border-radius: 20px 0 0 20px;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  margin: 10px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet .tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  width: 120px;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
  right: 45px;
  top: -6px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 13px 0 13px 13px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.9);
  top: 0px;
  right: -13px;
}

/*End Nav Bullets*/
/*Start header*/
.header {
  text-transform: uppercase;
}
header {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}
.logo {
  margin-right: auto;
  width: 200px;
  display: flex;
}
.logo i {
  color: #e94f3a;
  padding-right: 10px;
}
.logo .logo-name {
  font-size: 20px;
  margin: auto;
  margin-left: 0;
}
.logo .logo-name span {
  display: block;
  font-weight: bold;
}
.links {
  display: flex;
  transition: 0.5s;
}
.links ul {
  list-style: none;
  margin: auto;
  display: block;
  padding-left: 0px;
}
.links ul li {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}
.links ul li:hover {
  background-color: #3469f3;
}
.links ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 15px;
}
.links button {
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 50px;
  margin: auto;
  margin-left: 100px;
}
.links button:hover {
  cursor: pointer;
}
.links ul li {
  color: #e94f3a;
}
.links ul li ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
  position: absolute;
  top: 48px;
  z-index: 2;
  overflow: hidden;
}

.links ul li i:hover {
  cursor: pointer;
}
.links ul li ul li {
  background-color: #262626;
  display: none;
  width: 160px;
  border-bottom: 1px solid #fff;
}
.links ul li:hover ul li{
  display: block;
}
.links ul li ul li:first-child {
  animation: btnZoomIn 1 1.5s;
}
.links ul li ul li:nth-of-type(2) {
  animation: btnZoomIn 1 1.5s;
  animation-delay: .25s;
}
.links ul li ul li:nth-of-type(3) {
  animation: btnZoomIn 1 1.5s;
  animation-delay: .5s;
}
.links ul li ul li:nth-of-type(4) {
  animation: btnZoomIn 1 1.5s;
  animation-delay: .75s;
}
.links ul li ul li:nth-of-type(5) {
  animation: btnZoomIn 1 1.5s;
  animation-delay: 1s;
  border-bottom: none;
}
.links ul li ul li a {
  color: #fff;
}
.links .fa-bars {
  position: absolute;
  right: 10%;
  top: 2%;
  color: #e94f3a;
  display: none;
}
.links .fa-bars:hover {
  cursor: pointer;
}

/*end nav*/

.contain {
  color: #fff;
  background: url(../images/Catedral.jpg);
  background-size: cover;
  height: 100vh;
}
.header .contain i {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.contain h2 {
  margin-bottom: 20px;
}
.contain p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.contain button {
  width: 150px;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #e94f3a;
  margin: auto;
}
.contain button:hover {
  cursor: pointer;
}
/*end header*/

/*Start Button For To top*/
#toTop{
 display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  background-color: #FFF;
  cursor: pointer;
  outline: none;
  border: 2px solid #333;
  border-radius: 50%;
  color: #333;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color , color;
}
#toTop:hover , #toTop:focus{
  background-color: #333;
  color: #FFF;
}
/*Start faith*/
.faith {
  margin: 60px 0;
}
.faith .box {
  display: flex;
}
.faith .box .faith-box {
  text-align: center;
}
.faith .box .faith-box:nth-of-type(1) {
  margin-right: 30px;
}
.faith .box .faith-box:nth-of-type(2) {
  margin-right: 30px;
}
.faith-box i {
  color: #e94f3a;
  margin-bottom: 20px;
}
.faith-box h4 {
  font-weight: bold;
  text-transform: capitalize;
}
.faith-box p {
  line-height: 1.5;
}
/*End faith*/

/*Start Welcome*/
.welcome-head {
  padding: 60px 0;
  background-color: #e94f3a;
  color: #fff;
}
.welcome-head .head-contain {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  gap: 20px;
  line-height: 1.7;
}
.welcome-head .head-contain .date {
  grid-row: 1/2;
  grid-column: 1/2;
}
.welcome-head .head-contain .date address h3 {
  font-size: 26px;
  font-weight: bold;
}
.welcome-head .location {
  grid-row: 1/2;
  grid-column: 2/3;
  border-left: 1px solid #eee;
}
.welcome-head .location address {
  padding-left: 30px;
}
.welcome-head .butt {
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: right;
}
.welcome-head .butt button {
  background: none;
  border: 2px solid #fff;
  text-transform: uppercase;
  width: 150px;
  padding: 10px 20px;
  height: 50px;
  color: #fff;
}
.welcome-head .butt button:hover {
  cursor: pointer;
}
.welcome-body {
  padding: 60px 0;
  background-color: #ddd;
}
.welcome-body .body-contain {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 2;
  gap: 20px;
}
.body-contain .left {
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: #fff;
  padding: 40px;
  line-height: 1.4;
  color: #555;
}
.body-contain .left h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}
.body-contain .left i {
  width: 10px;
  color: #e94f3a;
  margin-right: 5px;
  text-align: center;
}
.body-contain .left span {
  color: #e94f3a;
}
.body-contain .right {
  grid-row: 1/3;
  grid-column: 4/6;
  background-color: #e94f3a;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
}
.body-contain .right .right-contain {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  padding: 80px 30px;
  color: #fff;
}
.body-contain .right .right-contain span {
  font-size: 40px;
}
.body-contain .right .days {
  grid-row: 1/2;
  grid-column: 1/2;
}
.body-contain .right .hours {
  grid-row: 1/2;
  grid-column: 2/3;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}
.body-contain .right .minutes {
  grid-row: 1/2;
  grid-column: 3/4;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}
.body-contain .right .seconds {
  grid-row: 2/3;
  grid-column: 1/2;
}
/*End Welcome*/

/*Start Events & News*/
.events,
.news {
  margin: 100px 0;
  overflow: hidden;
}
.events .event-contain,
.news .news-contain {
  display: flex;
}
.events .event-box,
.news .news-box {
  margin-right: 20px;
  flex: 1;
}
.events .event-box:last-of-type,
.news .news-box:last-of-type {
  margin-right: 0;
}

.events .event-box img,
.news .news-box img {
  width: 100%;
  height: 200px;
}
.events .event-box h2,
.news .news-box h2 {
  font-size: 20px;
  text-align: left;
  margin: 20px 0;
  text-transform: capitalize;
}
.events .event-box .date {
  margin-bottom: 20px;
}
.events .event-box .date i {
  width: 10px;
  margin-right: 5px;
  color: #e94f3a;
}
.events .event-box .date span {
  color: #e94f3a;
}
.events .event-box p,
.news .news-box p {
  line-height: 1.4;
}
.news h2 {
  margin-bottom: 0;
}
.news h4 {
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0 40px 0;
  color: #555;
}
.news .news-box span {
  display: block;
  margin: 10px 0;
  color: #e94f3a;
}
/*End events & News*/

/*Start Values*/
.values {
  margin: 80px 0;
  overflow: hidden;
}
.values h2 {
  margin-bottom: 20px;
}
.values .container > p {
  text-align: center;
  color: #333;
  margin: 20px 0;
}
.values .values-contain {
  display: flex;
}

.values .values-box {
  margin-right: 20px;
  flex: 1;
}
.values .values-box:last-of-type {
  margin-right: 0;
}

.values .values-box p {
  line-height: 1.4;
}

/*End Values*/

/*Start Our Faith*/
.our-faith {
  margin: 80px 0;
  overflow: hidden;
}
.our-faith h2 {
  margin-bottom: 0;
}

.our-faith h4 {
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0 40px 0;
  color: #555;
}
.our-faith .our-faith-contain {
  display: flex;
  margin-top: 50px;
}
.our-faith .left {
  margin-right: 50px;
}
.our-faith .left p {
  margin-bottom: 20px;
  line-height: 1.4;
}
.our-faith .left button {
  background: none;
  width: 200px;
  padding: 10px 15px;
  margin-top: 20px;
  border: 2px solid #e94f3a;
  color: #e94f3a;
  text-transform: uppercase;
}
.our-faith .left button:hover {
  background-color: #e94f3a;
  color: #fff;
  cursor: pointer;
}
/*End Our Faith*/

/*Start Testemonials*/

.testemonials {
  background-image: url(../images/huge.jpg);
  background-size: cover;
  position: relative;
  margin: 60px 0;
}
.testemonials .overlay {
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 2;
  position: absolute;
  opacity: 0.7;
}
.testemonials .teste-box {
  margin: auto;
  position: relative;
  z-index: 4;
  text-align: center;
  color: #fff;
  padding: 80px 0;
}
.testemonials .teste-box p {
  line-height: 1.5;
  font-size: 40px;
}
.testemonials .teste-box .before {
  font-size: 30px;
  color: #e94f3a;
  display: block;
  text-align: left;
}
.testemonials .teste-box .after {
  font-size: 30px;
  color: #e94f3a;
  display: block;
  text-align: right;
}
.testemonials .teste-box h2 {
  margin: 20px 0;
}
.testemonials .teste-box button {
  background: none;
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
}
.testemonials .teste-box button:hover {
  cursor: pointer;
  background: #e94f3a;
  border-color: #e94f3a;
}
/*End Testemonials*/

/*Start Pastors*/
.pastors {
  margin: 80px 0;
}
.pastors .card-box {
  display: flex;
}
.pastors .card-box .card {
  flex: 1;
}
.card-box .card-contain {
  text-align: center;
}
.pastors .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 40px 0;
}
.pastors .card h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 26px;
}
.pastors .card span {
  color: #e94f3a;
}
/*End Pastors*/

/*Start Donate */
.donate {
  background-color: #ddd;
  margin: 80px 0 0 0;
}
.donate .donate-head {
  padding: 40px 0;
  text-align: center;
  margin-bottom: 30px;
}
.donate .donate-head h2 {
  margin-bottom: 10px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.donate .donate-box {
  display: flex;
}
.donate .card {
  flex: 1;
  margin-right: 40px;
  background-color: #fff;
  margin-bottom: 60px;
  text-align: center;
}
.donate .card:last-of-type {
  margin-right: 0px;
}
.donate .card:first-of-type .card-head {
  background-color: #333;
}
.donate .card:nth-of-type(2) .card-head {
  background-color: #9e1200;
}
.donate .card:nth-of-type(3) .card-head {
  background-color: #e94f3a;
}
.donate .card:nth-of-type(4) .card-head {
  background-color: #bd493a;
}
.donate .card .card-head h2 {
  padding: 20px 10px;
  text-align: center;
  color: #fff;
}
.donate .card .card-body p {
  padding: 20px;
  line-height: 1.7;
}
.donate .card hr {
  margin: 20px 0;
}
.donate .card .card-price {
  color: #9e1200;
}
.donate .card .card-price span {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0;
}
.donate .card .card-price span::before {
  content: "$";
  font-size: 30px;
}
.donate .card button {
  margin-bottom: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  background: none;
  border: 2px solid #ddd;
  font-weight: bold;
}
.donate .card button:hover {
  cursor: pointer;
  color: #fff;
  border: none;
}
.donate .card:first-of-type button:hover {
  background: #333;
}
.donate .card:nth-of-type(2) button:hover {
  background-color: #9e1200;
}
.donate .card:nth-of-type(3) button:hover {
  background-color: #e94f3a;
}
.donate .card:nth-of-type(4) button:hover {
  background-color: #bd493a;
}
/*End Donate*/

/*Start map*/
.map {
  background: url(../images/map.jpg);
  height: 500px;
  background-size: cover;
}
/*End map*/

/*Start Footer*/
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #333;
}
.footer i {
  color: #e94f3a;
}
.footer .footer-contain {
  display: flex;
}
.footer .footer-logo {
  flex: 1;
  margin: 20px 0;
}
.footer .footer-logo i {
  float: left;
  margin-right: 20px;
}
.footer .footer-logo h3 {
  font-size: 25px;
  font-weight: bold;
}
.footer .footer-logo h5 {
  text-transform: uppercase;
}
.footer .contact-us {
  flex: 1;
  margin: 20px 0;
}
.footer .contact-us h2 {
  margin-bottom: 20px;
}
.footer .contact-us i {
  width: 20px;
  margin-bottom: 15px;
}
.footer .useful-links {
  flex: 1;
}
.footer .useful-links h2 {
  margin: 20px 0;
}
.footer .useful-links .links {
  display: flex;
}
.footer .useful-links .links .left {
  margin-right: 20px;
}
.footer .useful-links .links i {
  width: 10px;
  margin-bottom: 15px;
}
.footer .useful-links .links a {
  text-decoration: none;
  color: #ddd;
}
.footer-end {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
}
.footer-end p {
  color: #fff;
}
.footer-end p span {
  color: #e94f3a;
}
/*End Footer*/

/* Animation */
.zoomIn{
  animation: btnZoomIn 1 1s;
}
@keyframes btnZoomIn{
  from {
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.zoomOut{
  animation: btnZoomOut 1 1s;
}
@keyframes btnZoomOut{
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to{
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
}